* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: chalk;
    src: url(fonts/chawp.otf)
}

body {
    background-image: url(images/Bg-index.png);
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    align-items: center;
}

/*Index*/

main {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
}

.titulo {
    background-image: url(images/wood.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    padding: 40px;
    top: 14vh;
}

.titulo > h1 {
    font-size: 3rem;
    font-family: chalk, Arial, Helvetica, sans-serif;
    color: white;
}

.opicoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 50vw;
    
    background-image: url(images/paper.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.button > a {
    text-align: center;
    font-size: 1.8rem;
    color: black;
    background-image: url(images/wood.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 42px;
    font-family: chalk, Arial, Helvetica, sans-serif;
    color: white;
}

#play {
    margin: 30px 0;
    transform: rotate(5deg);
    transition: 0.3s;
}

#play:hover {
    transform: scale(1.2);
}

#regras {
    transform: rotate(-5deg);
    transition: 0.3s;
}

#regras:hover {
    transform: scale(1.2);
}

footer {
    background-color: rgb(58, 0, 0);
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(209, 190, 190);
}

footer > p > a {
    color: crimson;
}

footer > p > a:hover {
    color: white;
}